registry = https://rhartifactory.jfrog.io/rhartifactory/api/npm/rhapsody-npm
_auth = dmd1bm5hbGE6QUtDcDVmVXNYd2VzdjNyVVBCWUd3aWNGOUxKMzc1OFJvUWZMem5MTG5NRlpRZkRldHZkQjJ5ZjZXQ3hYZzI1ck1Nbm5CMVNINw==
email = vgunnala@rh.com
always-auth = true